<h1>New Student</h1>

<%= render 'form', student: @student %>

<div class="col-md-6 col-sm-6 offset-md-3">
  <%= link_to admins_backoffice_students_path do %>
    <button class="btn btn-primary">Voltar</button>
  <% end %>
</div>
