<h1>Seja Bem-Vindo!!</h1>
<ul>

  <li>
    <%= link_to admins_backoffice_welcome_index_path do %>
      <buttonclass class="btn btn-primary">Chefia do departamento</buttonclass>
    <% end %>
  </li>

  <li>
    <%= link_to users_backoffice_welcome_index_path do %>
      <buttonclass class="btn btn-primary">Professores</buttonclass>
    <% end %>
  </li>

</ul>