<h1>Seja Bem-Vindo!!</h1>
<p>Idioma ativo é: <%=I18n.locale%></p>
<p> Data <%= I18n.l Date.today %></p>
<ul>

  <li>
    <%= link_to "LogIn Professor", users_backoffice_welcome_index_path %>
  </li>
  <li>
    <%= link_to "LogIn Chefe do departamento", admins_backoffice_welcome_index_path %>
  </li>

</ul>