<h1>Editando Usuário</h1>

<%= render 'form', user: @user %>

<div class="col-md-6 col-sm-6 offset-md-3">
  <%= link_to admins_backoffice_users_path do %>
    <button class="btn btn-primary">Voltar</button>
  <% end %>
</div>
