<h1>Editing Agenda</h1>

<%= render 'form', agenda: @agenda %>

<div class="col-md-6 col-sm-6 offset-md-3">
  <%= link_to users_backoffice_agendas_path do %>
    <button class="btn btn-primary">Voltar</button>
  <% end %>
</div>