<h1>Agenda de <%= User.find(current_user.id).description %></h1><br><br>

<%= link_to edit_users_backoffice_agenda_path(@agendas) do %>
  <i class="fa fa-pencil"></i>Editar
<% end %>

<div class="x_content">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Hora</th>
      <th>Segunda-Feira</th>
      <th>Terça-Feira</th>
      <th>Quarta-Feira</th>
      <th>Quinta-Feira</th>
      <th>Sexta-Feira</th>
      <th>Sábado</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>07:30</td>
      <% unless @agendas.morning_one.nil? %>
        <% for i in (0..5) %>
          <% @agendas.morning_one.each_char do |agen| %>
            <% @check = true if agen == i.to_s %>
          <% end %>
        <% end %>

        <% if @check %>
          <td>
            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
          <% @check = false %>
        <% else %>
          <td>
            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>08:20</td>
      <% unless @agendas.morning_two.nil? %>
        <% for i in (0..5) %>
          <% @agendas.morning_two.each_char do |agen| %>
            <% @check = true if agen == i.to_s %>
          <% end %>
        <% end %>

        <% if @check %>
          <td>
            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
          <% @check = false %>
        <% else %>
          <td>
            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>09:10</td>
      <% unless @agendas.morning_three.nil? %>
        <% for i in (0..5) %>
          <% @agendas.morning_three.each_char do |agen| %>
            <% @check = true if agen == i.to_s %>
          <% end %>
        <% end %>

        <% if @check %>
          <td>
            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
          <% @check = false %>
        <% else %>
          <td>
            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
        <% end %>
      <% end %>
    </tr>


    <tr>
      <td>10:10</td>
      <% unless @agendas.morning_four.nil? %>
        <% for i in (0..5) %>
          <% @agendas.morning_four.each_char do |agen| %>
            <% @check = true if agen == i.to_s %>
          <% end %>
        <% end %>

        <% if @check %>
          <td>
            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
          <% @check = false %>
        <% else %>
          <td>
            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>11:00</td>
      <% unless @agendas.morning_five.nil? %>
        <% for i in (0..5) %>
          <% @agendas.morning_five.each_char do |agen| %>
            <% @check = true if agen == i.to_s %>
          <% end %>
        <% end %>

        <% if @check %>
          <td>
            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
          <% @check = false %>
        <% else %>
          <td>
            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>13:20</td>
      <% unless @agendas.afternoon_one.nil? %>
        <% for i in (0..5) %>
          <% @agendas.afternoon_one.each_char do |agen| %>
            <% @check = true if agen == i.to_s %>
          <% end %>
        <% end %>

        <% if @check %>
          <td>
            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
          <% @check = false %>
        <% else %>
          <td>
            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>14:10</td>
      <% unless @agendas.afternoon_two.nil? %>
        <% for i in (0..5) %>
          <% @agendas.afternoon_two.each_char do |agen| %>
            <% @check = true if agen == i.to_s %>
          <% end %>
        <% end %>

        <% if @check %>
          <td>
            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
          <% @check = false %>
        <% else %>
          <td>
            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>15:00</td>
      <% unless @agendas.afternoon_three.nil? %>
        <% for i in (0..5) %>
          <% @agendas.afternoon_three.each_char do |agen| %>
            <% @check = true if agen == i.to_s %>
          <% end %>
        <% end %>

        <% if @check %>
          <td>
            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
          <% @check = false %>
        <% else %>
          <td>
            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>16:00</td>
      <% unless @agendas.afternoon_four.nil? %>
        <% for i in (0..5) %>
          <% @agendas.afternoon_four.each_char do |agen| %>
            <% @check = true if agen == i.to_s %>
          <% end %>
        <% end %>

        <% if @check %>
          <td>
            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
          <% @check = false %>
        <% else %>
          <td>
            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>16:50</td>

      <% unless @agendas.afternoon_five.nil? %>
        <% for i in (0..5) %>
          <% @agendas.afternoon_five.each_char do |agen| %>
            <% @check = true if agen == i.to_s %>
          <% end %>
        <% end %>

        <% if @check %>
          <td>
            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
          <% @check = false %>
        <% else %>
          <td>
            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>17:40</td>

      <% unless @agendas.afternoon_six.nil? %>
        <% for i in (0..5) %>
          <% @agendas.afternoon_six.each_char do |agen| %>
            <% @check = true if agen == i.to_s %>
          <% end %>
        <% end %>

        <% if @check %>
          <td>
            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
          <% @check = false %>
        <% else %>
          <td>
            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>18:30</td>
      <% unless @agendas.evening_one.nil? %>
        <% for i in (0..5) %>
          <% @agendas.evening_one.each_char do |agen| %>
            <% @check = true if agen == i.to_s %>
          <% end %>
        <% end %>

        <% if @check %>
          <td>
            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
          <% @check = false %>
        <% else %>
          <td>
            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>19:20</td>
      <% unless @agendas.evening_two.nil? %>
        <% for i in (0..5) %>
          <% @agendas.evening_two.each_char do |agen| %>
            <% @check = true if agen == i.to_s %>
          <% end %>
        <% end %>

        <% if @check %>
          <td>
            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
          <% @check = false %>
        <% else %>
          <td>
            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>20:30</td>
      <% unless @agendas.evening_three.nil? %>
        <% for i in (0..5) %>
          <% @agendas.evening_three.each_char do |agen| %>
            <% @check = true if agen == i.to_s %>
          <% end %>
        <% end %>

        <% if @check %>
          <td>
            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
          <% @check = false %>
        <% else %>
          <td>
            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>21:30</td>
      <% unless @agendas.evening_four.nil? %>
        <% for i in (0..5) %>
          <% @agendas.evening_four.each_char do |agen| %>
            <% @check = true if agen == i.to_s %>
          <% end %>
        <% end %>

        <% if @check %>
          <td>
            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
          <% @check = false %>
        <% else %>
          <td>
            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
        <% end %>
      <% end %>
    </tr>

    <tr>
      <td>22:30</td>
      <% unless @agendas.evening_five.nil? %>
        <% for i in (0..5) %>
          <% @agendas.evening_five.each_char do |agen| %>
            <% @check = true if agen == i.to_s %>
          <% end %>
        <% end %>

        <% if @check %>
          <td>
            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
          <% @check = false %>
        <% else %>
          <td>
            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-default">
              <input type="radio" class="join-btn" data-parsley-multiple="gender">
            </label>
          </td>
        <% end %>
      <% end %>
    </tr>

    </tbody>
  </table>
</div>