<h2>Sign up </h2>

<%= render 'form', admin: @admin %>

<div class="col-md-6 col-sm-6 offset-md-3">
  <%= link_to admins_backoffice_admins_path do %>
    <button class="btn btn-primary">Voltar</button>
  <% end %>
</div>